
@{
    ViewBag.Title = "Archivos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />

@{ if (ViewBag.AlertWarning != null)
    {
        <div class="alert alert-warning alert-dismissible fixed-top">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            <strong>¡Warning!</strong> @ViewBag.AlertWarning
        </div>
    }
    else if (ViewBag.AlertDanger != null)
    {
        <div class="alert alert-danger alert-dismissible fixed-top">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            <strong>¡Error!</strong> @ViewBag.AlertDanger
        </div>
    }
    else if (ViewBag.AlertSuccess != null)
    {
        <div class="alert alert-success alert-dismissible fixed-top">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            <strong>¡Bien hecho!</strong> @ViewBag.AlertSuccess
        </div>
    }

}
<div class="row">
    <ul class="breadcrumb" style="background-color: #E7E8E6;">
        <li><a href="@Url.Action("Tema", "Repositorio")">Temas</a></li>
        <li><a href="@Url.Action("Clasificacion", "Repositorio",new {idT = @ViewBag.IdDirectorioSelecAnterior, tema = @ViewBag.NameDirectorioSelecAnterior })">@ViewBag.NameDirectorioSelecAnterior</a></li>
        <li><a href="@Url.Action("Grupo", "Repositorio",new {idC = @ViewBag.IdDirectorioSelec, clasif = @ViewBag.NameDirectorioSelec })">@ViewBag.NameDirectorioSelec</a></li>
        <li><a>@ViewBag.NameDirectorioSelecActual</a></li>
    </ul>
</div>
<div class="row">
    <div class="col-xxl-5 col-md-4 col-sm-6 col-4"><button class="btn btn-secondary btn-block" data-bs-toggle="modal" data-bs-target="#myModalSubirArchivos"><i class="fas fa-upload"></i> Subir archivo</button></div>
    <div class="col-xxl-2 col-md-4 col-sm-1 col-1"></div>
    <div class="col-xxl-5 col-md-4 col-sm-5 col-7">
        @*<form>
                <div class="input-group mb-3">
                    <button class="btn btn btn-light" style="background-color:white; z-index:-1;" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                    <input type="text" class="form-control" placeholder="Buscar en el repositorio">
                </div>
            </form>*@
    </div>
</div>
<div class="row">
    <h2>ARCHIVOS</h2>
    <hr />
</div>

<!-- The Modal para subir archivos -->
<div class="modal fade" id="myModalSubirArchivos">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Seleccionar archivos</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <form method="post" action="Archivos" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-sm-12 text-start">
                            <section id="multi-selector-uniq">
                                <input id="files" type="file" name="files" multiple>
                                <ul id="preview"></ul>
                            </section>
                        </div>
                    </div><br>
                    <div class="row">
                        <div class="col-sm-6"><div class="d-grid"><a class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancelar</a></div></div>
                        <div class="col-sm-6">
                            <div class="d-grid"><input type="submit" value="Subir" name="btnSubir" id="btnSubir" class="btn btn-success" style="background-color:#034250; color:white;" /></div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/inputFile.js"></script>