@model MiriWeb.Models.modelShared
@{
    ViewBag.Title = "Grupo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
@{ if (ViewBag.AlertWarning != null)
    {
        <div class="alert alert-warning alert-dismissible fixed-top">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            <strong>¡Warning!</strong> @ViewBag.AlertWarning
        </div>
    }
    else if (ViewBag.AlertDanger != null)
    {
        <div class="alert alert-danger alert-dismissible fixed-top">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            <strong>¡Error!</strong> @ViewBag.AlertDanger
        </div>
    }
    else if (ViewBag.AlertSuccess != null)
    {
        <div class="alert alert-success alert-dismissible fixed-top">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            <strong>¡Bien hecho!</strong> @ViewBag.AlertSuccess
        </div>
    }

}
<div class="row">
    <ul class="breadcrumb" style="background-color: #E7E8E6;">
        <li><a href="@Url.Action("Tema", "Repositorio")">Temas</a></li>
        <li><a href="@Url.Action("Clasificacion", "Repositorio",new {idT = @ViewBag.IdDirectorioSelec, tema = @ViewBag.NameDirectorioSelec })">@ViewBag.NameDirectorioSelec</a></li>
        <li><a>@ViewBag.NameDirectorioSelecActual</a></li>
    </ul>
</div>
<div class="row">
    <div class="col-xxl-5 col-md-4 col-sm-6 col-4"><button class="btn btn-secondary btn-block" data-bs-toggle="modal" data-bs-target="#myModalCrearNuevo"><i class="fa-solid fa-plus"></i> Agregar grupo</button></div>
    <div class="col-xxl-2 col-md-4 col-sm-1 col-1"></div>
    <div class="col-xxl-5 col-md-4 col-sm-5 col-7">
        @*<form>
                <div class="input-group mb-3">
                    <button class="btn btn btn-light" style="background-color:white; z-index:-1;" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                    <input type="text" class="form-control" placeholder="Buscar en el repositorio">
                </div>
            </form>*@
    </div>
</div>
<div class="row">
    <h2>GRUPOS</h2>
    <hr />
</div>
@{
    if (Model.mgrupos.Count > 0)
    {
        <div class="row  scroollDirectory" style=" background-color: #D8D6D6;">
            <div id="menu_derecho" class="shadow bg-white">
                <ul>
                    <li><a href="#" class="nom_menu" onclick="deleteElement()"><i class='fas fa-user-plus'></i> Compartir</a></li>
                    <li><a href="#" class="nom_menu" id="linkUpdateTema"><i class='far fa-edit'></i> Cambiar nombre</a></li>
                    <li><a href="#" class="nom_menu"><i class='fas fa-info-circle'></i> Ver detalles</a></li>
                </ul>
            </div>
            <div id="cuerpo">

                @{
                    foreach (var grupo in Model.mgrupos.ToList())
                    {
                        <button id="@grupo.IdGrupo" class="nom_fic btnDirectory defaultDirectory" title="@grupo.Grupo" value="@grupo.Grupo"><i class='fas fas fa-folder'></i> @grupo.Grupo</button>
                    }
                }
            </div>
        </div>
    }
    else
    {
        <br />
        <div class="row">
            <div class="note">
                <p><i class='far fa-folder-open' style='font-size:48px'></i>&nbsp;&nbsp;&nbsp; Nada que mostrar... :(</p>
                <div class="text-center"><img src="~/Images/filenube.png" class="img-fluid logoMiri" /></div>
            </div>
        </div>
    }
}




<!-- The Modal para crear nuevo Grupo -->
<div class="modal fade" id="myModalCrearNuevo">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Crear nuevo</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <form method="post" action="Grupo">
                    <input type="hidden" name="hiddenIDDirectorioT" value="@ViewBag.IdDirectorioT" />
                    <input type="hidden" name="hiddenNameDirectorioSelec" value="@ViewBag.NameDirectorioSelec" />
                    <input type="hidden" name="hiddenIdDirectorioSelec" value="@ViewBag.IdDirectorioSelec" />
                    <input type="hidden" name="hiddenNameDirectorioSelecActual" value="@ViewBag.NameDirectorioSelecActual" />
                    <div class="row">
                        <div class="col-sm-12 text-start"> <input type="text" name="nameDirectorio" id="namedirectory" class="form-control" value="Directorio sin título" oninput="validarInput()"></div>
                    </div><br>
                    <div class="row">
                        <div class="col-sm-6"><div class="d-grid"><a class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancelar</a></div></div>
                        <div class="col-sm-6">
                            <div class="d-grid"><input type="submit" value="Crear" name="btncrear" id="btnCrear" class="btn btn-success" style="background-color:#034250; color:white;" /></div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- The Modal para cambiar nombre de directorio -->
<div class="modal fade" id="myModalCambiarNombre">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Cambiar nombre</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <form method="post" action="Grupo">
                    <input type="hidden" name="hiddenIDDirectorioT" value="@ViewBag.IdDirectorioT">
                    <input type="hidden" id="hiddenIDDirectorio" name="hiddenIDDirectorio">
                    <input type="hidden" name="hiddenIdDirectorioSelec" value="@ViewBag.IdDirectorioSelec" />
                    <input type="hidden" name="hiddenNameDirectorioSelec" value="@ViewBag.NameDirectorioSelec">
                    <input type="hidden" name="hiddenNameDirectorioSelecActual" value="@ViewBag.NameDirectorioSelecActual" />
                    <div class="row">
                        <div class="col-sm-12 text-start"><input type="text" name="nameDirectorio" id="updatedirectory" class="form-control" oninput="validarInput()"></div>
                    </div><br>
                    <div class="row">
                        <div class="col-sm-6"><div class="d-grid"><a class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancelar</a></div></div>
                        <div class="col-sm-6">
                            <div class="d-grid"><input type="submit" value="Aceptar" name="btnUpdateDiretorio" id="btnUpdate" class="btn btn-success" style="background-color:#034250; color:white;" /></div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- The Modal para compartir directorio -->
<div class="modal fade" id="myModalCompartir">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Compartir grupo</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <form method="post" action="Grupo">
                    <input type="hidden" id="hiddenIDDirectorioC" name="hiddenIDDirectorioC">
                    <input type="hidden" name="hiddenIDDirectorioT" value="@ViewBag.IdDirectorioT">
                    <input type="hidden" name="hiddenIdDirectorioSelec" value="@ViewBag.IdDirectorioSelec" />
                    <input type="hidden" name="hiddenNameDirectorioSelec" value="@ViewBag.NameDirectorioSelec">
                    <input type="hidden" name="hiddenNameDirectorioSelecActual" value="@ViewBag.NameDirectorioSelecActual" />
                    <input type="hidden" id="listUsers" name="listUsers">
                    <div class="row">
                        <div class="col-sm-6">
                            <select id="users-select" class="form-select">
                                @*<option value="">Selecciona un usuario</option>*@
                            </select>
                        </div>
                        <div class="col-sm-3">
                            <div class="d-grid"><input type="button" value="Agregar" onclick="newElement()" class="btn btn-success" style="background-color:#034250; color:white;" /></div>
                        </div>
                        <div class="col-sm-3">
                            <select name="permiso-select" id="permiso-select" class="form-select">
                                <option value="0">Editar</option>
                                <option value="1">Lectura</option>
                                <option value="2">Modificar</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <ul id="myUL"></ul>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-6"><div class="d-grid"><a class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancelar</a></div></div>
                        <div class="col-sm-6"> <div class="d-grid"><input type="submit" onclick="enviarList()" value="Aceptar" name="btnAceptar" id="btnAceptar" class="btn btn-success" style="background-color:#034250; color:white;" /></div></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>