@model List<MiriWeb.Models.MTemas>
@{
    ViewBag.Title = "Tema";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
@{ if (ViewBag.AlertWarning != null)
    {
        <div class="alert alert-warning alert-dismissible fixed-top">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            <strong>¡Warning!</strong> @ViewBag.AlertWarning
        </div>
    }
    else if (ViewBag.AlertDanger != null)
    {
        <div class="alert alert-danger alert-dismissible fixed-top">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            <strong>¡Error!</strong> @ViewBag.AlertDanger
        </div>
    }
    else if (ViewBag.AlertSuccess != null)
    {
        <div class="alert alert-success alert-dismissible fixed-top">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            <strong>¡Bien hecho!</strong> @ViewBag.AlertSuccess
        </div>
    }

}
<div class="row">
    <ul class="breadcrumb" style="background-color: #E7E8E6;">
        <li><a href="#">Temas</a></li>
    </ul>
</div>
<div class="row">
    <div class="col-xxl-5 col-md-4 col-sm-6 col-4"><button class="btn btn-secondary btn-block" data-bs-toggle="modal" data-bs-target="#myModalCrearNuevo"><i class="fa-solid fa-plus"></i> Agregar tema</button></div>
    <div class="col-xxl-2 col-md-4 col-sm-1 col-1"></div>
    <div class="col-xxl-5 col-md-4 col-sm-5 col-7">
        @*<form>
                <div class="input-group mb-3">
                    <button class="btn btn btn-light" style="background-color:white; z-index:-1;" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                    <input type="text" class="form-control" placeholder="Buscar en el repositorio">
                </div>
            </form>*@
    </div>
</div>
<div class="row">
    <h2>TEMAS</h2>
    <hr />
</div>
<div class="row  scroollDirectory" style=" background-color: #D8D6D6;">
    <form>
        <div id="menu_derecho" class="shadow bg-white">
            <ul>
                <li><a href="#" class="nom_menu"><i class='fas fa-user-plus'></i> Compartir</a></li>
                <li><a href="#" class="nom_menu" id="linkUpdateTema"><i class='far fa-edit'></i> Cambiar nombre</a></li>
                <li><a href="#" class="nom_menu"><i class='fas fa-info-circle'></i> Ver detalles</a></li>
            </ul>
        </div>
        <div id="cuerpo">
            @{
                foreach (var tema in Model)
                {
                    <button id="@tema.IdTema" class="nom_fic btnDirectory defaultDirectory" title="@tema.Tema" value="@tema.Tema"><i class='fas fas fa-folder'></i> @tema.Tema</button>
                }
            }
        </div>
    </form>
</div>


<!-- The Modal para crear nuevo tema -->
<div class="modal fade" id="myModalCrearNuevo">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Crear nuevo</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <form method="post" action="Tema">
                    <div class="row">
                        <div class="col-sm-12 text-start"> <input type="text" name="nameTema" id="namedirectory" class="form-control" value="Directorio sin título" oninput="validarInput()"></div>
                    </div><br>
                    <div class="row">
                        <div class="col-sm-6"><div class="d-grid"><a class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancelar</a></div></div>
                        <div class="col-sm-6">
                            <div class="d-grid"><input type="submit" value="Crear" name="btncrear" id="btnCrear" class="btn btn-success" style="background-color:#034250; color:white;" /></div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- The Modal para cambiar nombre de tema -->
<div class="modal fade" id="myModalCambiarNombre">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Cambiar nombre</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <form method="post" action="Tema">
                    <input type="hidden" id="hiddenIDTema" name="hiddenIDTema">
                    <div class="row">
                        <div class="col-sm-12 text-start"><input type="text" name="nameTema" id="updatedirectory" class="form-control" oninput="validarInput()"></div>
                    </div><br>
                    <div class="row">
                        <div class="col-sm-6"><div class="d-grid"><a class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancelar</a></div></div>
                        <div class="col-sm-6">
                            <div class="d-grid"><input type="submit" value="Aceptar" name="btnUpdateTema" id="btnUpdate" class="btn btn-success" style="background-color:#034250; color:white;" /></div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- The Modal para compartir -->
<div class="modal fade" id="myModalCompartir">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Compartir tema</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
              <form method="post" action="Tema">

              </form>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">

    //Codigo script para poner el foco seleccionado en el nombre del Tema al momento de crearlo
    function validarInput() {
        document.getElementById("btnCrear").disabled = !document.getElementById("namedirectory").value.length;
        document.getElementById("btnUpdate").disabled = !document.getElementById("updatedirectory").value.length;
    }

    $.fn.once = function (events, callback) {
        return this.each(function () {
            var myCallback = function (e) {
                callback.call(this, e);
                $(this).off(events, myCallback);
            };
            $(this).on(events, myCallback);
        });
    };

    $("#namedirectory").focus(function () {
        $(this).once("click keyup", function (e) {
            $(this).select();
        });
    });

    $("#updatedirectory").focus(function () {
        $(this).once("click keyup", function (e) {
            $(this).select();
        });
    });

    // event logger
    $("#namedirectory").on("mousedown focus mouseup click blur " +
        "keydown keypress keyup change",
        function (e) {
            console.log(e.type);
        });
    // event logger
    $("#updatedirectory").on("mousedown focus mouseup click blur " +
        "keydown keypress keyup change",
        function (e) {
            console.log(e.type);
        });


</script>