@model MiriWeb.Models.modelShared
@{
    ViewBag.Title = "Compartidos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
@{ if (ViewBag.AlertWarning != null)
    {
        <div class="alert alert-warning alert-dismissible fixed-top">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            <strong>¡Warning!</strong> @ViewBag.AlertWarning
        </div>
    }
    else if (ViewBag.AlertDanger != null)
    {
        <div class="alert alert-danger alert-dismissible fixed-top">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            <strong>¡Error!</strong> @ViewBag.AlertDanger
        </div>
    }
    else if (ViewBag.AlertSuccess != null)
    {
        <div class="alert alert-success alert-dismissible fixed-top">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            <strong>¡Bien hecho!</strong> @ViewBag.AlertSuccess
        </div>
    }

}

<div class="row">
    <ul class="breadcrumb" style="background-color: #E7E8E6;">
        <li><a>Compartidos conmigo</a></li>
    </ul>
</div>
<div class="row">
    <div class="col-xxl-5 col-md-4 col-sm-6 col-4">@*<button class="btn btn-secondary btn-block" data-bs-toggle="modal" data-bs-target="#myModalCrearNuevo"><i class="fa-solid fa-plus"></i> Agregar tema</button>*@</div>
    <div class="col-xxl-2 col-md-4 col-sm-1 col-1"></div>
    <div class="col-xxl-5 col-md-4 col-sm-5 col-7">
        @*<form>
                <div class="input-group mb-3">
                    <button class="btn btn btn-light" style="background-color:white; z-index:-1;" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                    <input type="text" class="form-control" placeholder="Buscar en el repositorio">
                </div>
            </form>*@
    </div>
</div>
<div class="row">
    <h2>COMPARTIDOS CONMIGO</h2>
    <hr />
</div>
@{
    if (Model.mdirectorioscompartidos != null)
    {
        if (Model.mdirectorioscompartidos.Count > 0)
        {
            <div class="row  scroollDirectory" style=" background-color: #D8D6D6;">
                <div id="menu_derecho" class="shadow bg-white">
                    <ul>
                        @*<li><a href="#" class="nom_menu" onclick="deleteElement()"><i class='fas fa-user-plus'></i> Compartir</a></li>
                            <li><a href="#" class="nom_menu" id="linkUpdateTema"><i class='far fa-edit'></i> Cambiar nombre</a></li>*@
                        <li><a href="#" class="nom_menu"><i class='fas fa-info-circle'></i> Ver detalles</a></li>
                    </ul>
                </div>
                <div id="cuerpo">
                    @foreach (var directorio in Model.mdirectorioscompartidos.ToList())
                    {
                        <button id="@directorio.IdDirectorio" class="nom_fic btnDirectory defaultDirectory" title="@directorio.NameDirectorio" value="@directorio.NameDirectorio"><i class='fas fas fa-folder'></i> @directorio.NameDirectorio</button>
                    }
                </div>
            </div>
        }
        else
        {
            <br />
            <div class="row">
                <div class="note">
                    <p><i class='far fa-folder-open' style='font-size:48px'></i>&nbsp;&nbsp;&nbsp; Nada que mostrar... :(</p>
                    <div class="text-center"><img src="~/Images/filenube.png" class="img-fluid logoMiri" /></div>
                </div>
            </div>
        }
    }

}


<!---Menu despegable posición derecha para mostrar detalles del directorio/archivo seleccionado-->
<div id="mySidenav" class="sidenav shadow">
    <button class="closebtnD" onclick="closeSide()" title="Ocultar detalles">&times;</button>
    <div class="nameDirect"><label for="directorio" id="directorio"></label></div>
    <div style="font-size: 68px; color: #034250; " class="text-center"><i class='fas fas fa-folder'></i></div>
    <div class="text-center"> <a href="#" class="btn btn-outline-secondary">Administrar acceso</a></div>
    <hr />
    <div class="infoFile">
        <p class="encabezado">Detalles de la carpeta</p>
        <p class="encabezado" style="font-size:14px;">Propietario</p>
        <p><label for="propietario" id="propietario"></label></p>
        <p class="encabezado" style="font-size:14px;">Creado</p>
        <p><label for="fechaCreacion" id="fechaCreacion"></label></p>
        <p class="encabezado" style="font-size:14px;" id="modificado"></p>
        <p><label for="modificacion" id="modificacion"></label> </p>
    </div>
</div>