@model MiriWeb.Models.modelShared
@{
    ViewBag.Title = "Usuarios";
    Layout = "~/Views/Shared/_Layout.cshtml";
    WebGrid grid = new WebGrid(Model.musuarios);
}
<br />
@{ if (ViewBag.AlertWarning != null)
    {
        <div class="alert alert-warning alert-dismissible fixed-top">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            <strong>¡Warning!</strong> @ViewBag.AlertWarning
        </div>
    }
    else if (ViewBag.AlertDanger != null)
    {
        <div class="alert alert-danger alert-dismissible fixed-top">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            <strong>¡Error!</strong> @ViewBag.AlertDanger
        </div>
    }
    else if (ViewBag.AlertSuccess != null)
    {
        <div class="alert alert-success alert-dismissible fixed-top">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            <strong>¡Bien hecho!</strong> @ViewBag.AlertSuccess
        </div>
    }

}
<div class="mt-2 rounded text-center" style="background-color: #EBEFF1;">
    <h1>Administrar usuarios</h1>
</div>
<div class="row">
    <div class="col-xxl-2 col-md-3 col-sm-6 col-6"><button class="btn btn-secondary btn-block" data-bs-toggle="modal" data-bs-target="#myModalCreateUser"><i class="fa-solid fa-plus"></i> Agregar Usuario</button></div>
    @*<div class="col-xxl-2 col-md-3 col-sm-6 col-6"><button class="btn btn-secondary btn-block" data-bs-toggle="modal" data-bs-target="#myModalUpdateUser"><i class="fa-solid fa-plus"></i> Actualizar</button></div>*@
</div>
<br />
<div class="table-responsive">
    @grid.GetHtml(tableStyle: "table table-dark table-striped", columns: new[]{
    grid.Column("idUsuario",header:"ID",canSort:false),
    grid.Column("Usuario1",header:"Usuario",canSort:false),
    grid.Column("nombre",header:"Nombre(s)",canSort:false),
    grid.Column("aPaterno",header:"A.Paterno",canSort:false),
    grid.Column("aMaterno",header:"A.Materno",canSort:false),
    grid.Column("perfil",header:"Perfil",canSort:false),
    grid.Column("fechaIngreso",header:"Fecha y hora de ingreso",canSort:false),
     grid.Column("habilitado",header:"Habilitado",canSort:false),
    grid.Column(
          "",
          header: "Accion",
          format: @<text>
    @Html.ActionLink("Editar",   "Edit",   new { id=item.idUsuario} )
        </text>
)

})
</div>